---
import SiteLayout from "../../layouts/SiteLayout.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Prose from "../../components/Prose.astro";
import { SITE } from "../../consts";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({ params: { slug: post.id }, props: { post } }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<SiteLayout
  title={post.data.title}
  description={post.data.description ?? SITE.description}
  type="article"
>
  <Prose>
    <header style="margin-bottom: 1.25rem;">
      <h1>{post.data.title}</h1>
      <div class="muted" style="font-style: italic;">
        <FormattedDate date={post.data.pubDate} />
      </div>
    </header>

    <Content />
  </Prose>
</SiteLayout>
