---
import SiteLayout from "../layouts/SiteLayout.astro";
import Prose from "../components/Prose.astro";
import { SITE } from "../consts";
---

<SiteLayout title={`About • ${SITE.title}`} description={SITE.description}>
  <Prose>
    <h1>About</h1>

    <p class="muted" style="margin-top:-0.25rem; margin-bottom: 1.25rem;">
      A short page about me and what I write here.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Vitae ultricies leo
      integer malesuada nunc vel risus commodo viverra. Adipiscing enim eu
      turpis egestas pretium.
    </p>

    <p>
      Morbi tristique senectus et netus. Id semper risus in hendrerit gravida
      rutrum quisque non tellus. Habitasse platea dictumst quisque sagittis
      purus sit amet. Tellus molestie nunc non blandit massa.
    </p>

    <p>
      Mollis nunc sed id semper risus in. Convallis a cras semper auctor neque.
      Diam sit amet nisl suscipit. Lacus viverra vitae congue eu consequat ac
      felis donec.
    </p>

    <p>
      Tempus quam pellentesque nec nam aliquam sem. Risus at ultrices mi tempus
      imperdiet. Id porta nibh venenatis cras sed felis eget velit.
    </p>
  </Prose>
</SiteLayout>
